<mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header class="custom-expansion-header">
            <mat-panel-title>
                Train data
            </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
        <mat-expansion-panel-header class="custom-expansion-header">
            <mat-panel-title>
                Test
            </mat-panel-title>
        </mat-expansion-panel-header>


        <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
        </mat-action-row>
    </mat-expansion-panel>

</mat-accordion>