.overview {
  margin: 10px;

  .item {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.sensor-dropdown{
    width: 50%;
    margin-bottom: 0px;
}

.select-panel{
    
}

.image-details{
  width: 40%;
  margin: 20px auto;
}

.sensor-overview{
  margin-bottom: 0px;
  padding-bottom: 0px;
}