<div class="overview" fxLayout="column" fxLayoutAlign="start stretch">

    <div class="item">Name : {{digitalTwin.name}}</div>
    <div class="item">Type : {{digitalTwin.machine.name}}</div>

    <img src="assets/images/turbo-schematics.png" class="image-details" alt="" srcset="">

    <h2 class="sensor-overview">
        Sensor Overview
    </h2>
    <h5>
        Select a senor to generate overview graph 
    </h5>

    <mat-form-field appearance="outline" class="sensor-dropdown">
        <mat-label>Select Sensor Data</mat-label>
        <mat-select panelClass="select-panel" (selectionChange)="getSensorSelection($event.value)">
            <mat-option *ngFor="let sensor of sensors" [value]="sensor">{{sensor.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <app-model-bar-chart [data]="chartData"></app-model-bar-chart>

</div>


