<div fxLayout="row" class="main-content" fxLayoutAlign="space-between start">
    <div fxFlex="50" class="viewer">
        <div class="container" #container>
        </div>
        <div class="loading-screen">
            <div id="loader"></div>
        </div>
    </div>

    <div fxFlex="49" class="right-content">
        <mat-tab-group animationDuration="1000ms">
            <mat-tab label="Overview">
                <app-overview [digitalTwin]="machine" ></app-overview>
            </mat-tab>
            <mat-tab label="Predict">
                    <app-predict [digitalTwin]="machine" ></app-predict>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>