/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  scrollbar-color: #d4aa70 #e4e4e4;
  scrollbar-width: thin;
}


.loading-screen {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  opacity: 1;
  transition: 1s opacity;
}

.fade-out {
  opacity: 0;
  display: none;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BA55D3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF00FF;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.search-icon {
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -80px;
  right: -45px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
  margin-left: 8px;
}


.button-basic {
  background: #22577e;
  color: #fff;
}

button.mat-focus-indicator.button-basic.mat-button.mat-button-base.mat-button-disabled {
  background: #dfdfdf;
  cursor: not-allowed;
}

.chart-wrapper {
  height: 380px !important;
}

div#loading-text {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  margin: -84px 0 0 -9px;
  color: #BA55D3;
  font-size: 20px;
}

.no-data {
  width: 100%;

  h2 {
    margin: 100px auto;
    width: fit-content;
  }
}


.nav-active {
  background: #5584ac !important;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 1px solid transparent;
  background-clip: content-box;
  background-color: #22577e;
}


.mat-tab-body-content{
  height: 90vh !important;
}

.mat-tab-label.mat-tab-disabled {
  cursor: not-allowed !important;
}